.metadata
.settings
target
.classpath
.project
*.css.map
.sass-cache
*.log
/magcruise-broker/src/main/resources/*.conf
/magcruise-scenario/src/main/java/org/magcruise/gaming/examples/croquette/resource/*.csv
/magcruise-scenario/src/main/java/org/magcruise/gaming/examples/ultimatum/resource/*.csv
/magcruise-scenario-appendix/src/main/java/org/magcruise/gaming/examples/ele/resource/*.csv
/magcruise-scenario/src/main/java/org/magcruise/gaming/examples/croquette/resource/*.json
/magcruise-scenario/src/main/java/org/magcruise/gaming/examples/ultimatum/resource/*.json
/magcruise-webui/src/main/resources/data/scripts/croquette/*.json
/magcruise-webui/src/main/resources/data/scripts/discussion/*.json
/magcruise-webui/src/main/resources/data/scripts/minority/*.json
/magcruise-webui/src/main/resources/data/scripts/ultimatum/*.json
/magcruise-scenario/src/main/java/org/magcruise/gaming/examples/croquette/resource/converter/*.json
/magcruise-scenario/src/main/java/org/magcruise/gaming/examples/croquette/resource/obsolete/*.csv
/magcruise-scenario/src/main/java/org/magcruise/gaming/examples/croquette/resource/obsolete/*.json
/magcruise-scenario/src/main/java/org/magcruise/gaming/examples/croquette/resource/converter/*.csv
copy*.bat
/magcruise-broker/src/main/resources/server-auth.properties
/magcruise-webui/src/main/resources/server-auth.properties
/build/tools
/build/gaming-copy-contrib.bat
/magcruise-broker/pom.xml.versionsBackup
/magcruise-webui/src/main/resources/conf/*.csv
/magcruise-broker/src/main/resources/conf/*.conf
/magcruise-webui/src/main/resources/conf/*.conf
/magcruise-broker/src/main/resources/conf/server-auth.properties
/magcruise-webui/src/main/resources/conf/server-auth.properties
/magcruise-core/pom.xml.versionsBackup
/magcruise-scenario/pom.xml.versionsBackup
/magcruise-webui/pom.xml.versionsBackup
/pom.xml.versionsBackup
/build/gaming-coveralls.bat
